@font-face {
   font-family: 'e-Ukraine-Thin';
   font-display: swap;
   src: url('file:///C:/Users/itchm/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-02-16_203352/fonts/e-Ukraine-Thin/font.ttf');
}
